---
import Content from '~/components/widgets/Content.astro';
import Layout from '~/layouts/PageLayout.astro';
import HDRImage from '~/assets/images/HDR.png';

const metadata = {
  title: 'hdr',
};
---

<Layout metadata={metadata}>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    items={[
      {
        title: 'The NSF HDR Ecosystem',
        description:
          'NSF Harnessing the Data Revolution (HDR) Big Idea is a national-scale activity founded in 2016 to enable new modes of data-driven discovery that address fundamental questions at the frontiers of science and engineering.  By engaging NSF research community in the pursuit of fundamental research in data science and engineering, the ecosystem of HDR Institutes, Data Science Corps (DSC), and Transdisciplinary Research in Principles of Data Science (TRIPODS) strive to provide a cohesive, federated, national-scale approach to research data infrastructure, and the development of a 21st-century data-capable workforce.',
        icon: 'tabler:device-analytics',
      },
      {
        title: 'For more information, visit:',
        description: '<a href="https://www.nsf.gov/news/special_reports/big_ideas/harnessing.jsp">https://www.nsf.gov/news/special_reports/big_ideas/harnessing.jsp</a>',
        icon: 'tabler:world-www',
      },
    ]};

    image={{ src: HDRImage.src, alt: 'HDR Image'}}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Harnessing the Revolution</h3>
    </Fragment>
  </Content>
</Layout>
